.body {
    height: 960px;
    width: 960px;
    background: blanchedalmond;
    margin-top:120px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    border-radius: 45% 45% 0px 0px;
}

.skeletoonList {
    overflow: auto;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}