  #tombstone_container {
    position: relative;
    margin-top: 20px;
    
  }

  #tombstone_canvas {
    position: fixed;
    margin-top: 32px;
    width: 1008px;
    height: 780px;
    left: 20vw;
    
  }

  #connect_wallet_overlay {
    position: relative;
    font-size: 30pt;
    line-height: 40px;
    width: 400px;
    height: 200px;
    left: 39vw;
    top: 50vh;
    text-align: center;
  }